SERVICE_ACCOUNT_FILE=service_account.json
GEMINI_API_KEY=your_gemini_api_key_here
DRIVE_FILE_ID=your_drive_file_id_here
SPREADSHEET_ID=your_spreadsheet_id_here
TARGET_SPREADSHEET_ID=your_target_spreadsheet_id_here
API_WA_KEY=your_whatsapp_api_key_here
WA_API_URL=http://your_ip:3000/send
WHATSAPP_GROUP_ID=your_group_id@g.us
